<div class="container rounded">
  <span class="close-modal-button d-flex align-items-center justify-content-center" (click)="onCloseClick()">
    <i class="bi bi-x"></i>
  </span>
  <div class="row mt-2" data-aos="fade-down">
    <div class="col-md-12 d-flex align-items-center justify-content-center">
      <div class="modal-section-title">
        <h2>Adicionar Formação Acadêmica</h2>
      </div>
    </div>
  </div>

  <div class="row mt-2" data-aos="fade-down">
    <div class="col">
      <form class="php-email-form" data-aos-delay="100" style="border-radius: 10px; ">

        <div class="container">
          <div class="row">

            <div class="col-md-12 mb-3">
              <label>Grau</label>
              <select class="form-select" [formControl]="userDegree" [disabled]="isEndYearDisabled()">
                <!-- Adicione opções de ano aqui, começando pelo ano atual até 100 anos atrás -->
                <option *ngFor="let degree of degreeOptions" [value]="degree" class="bi bi-chevron-down">{{ degree }}</option>

              </select>
              <div class="validate"></div>
            </div>

            <div class="col-md-12 mb-3">
              <label>Área de estudo</label>
              <input type="text" class="form-control" [formControl]="userCourse" placeholder="Ex: Analise e Desenvolvimento de Sistemas"
                data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>

            <div class="col-md-12 mb-3">
              <label>Instituição</label>
              <input type="text" class="form-control" [formControl]="userInstitution" placeholder="Ex: Universidade de São Paulo (USP)"
                data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>

            <div class="col-md-5 mb-3">
              <label>Início</label>
              <select class="form-select" [formControl]="startYear">
                <!-- Adicione opções de ano aqui, começando pelo ano atual até 100 anos atrás -->
                <option *ngFor="let year of yearOptions" [value]="year" class="bi bi-chevron-down">{{ year }}</option>
              </select>
              <div class="validate"></div>
            </div>

            <div class="col-md-5 mb-3">
              <label>Término</label>
              <select class="form-select" [formControl]="endYear" [disabled]="isEndYearDisabled()">
                <!-- Adicione opções de ano aqui, começando pelo ano atual até 100 anos atrás -->
                <option *ngFor="let year of yearOptions" [value]="year" class="bi bi-chevron-down">{{ year }}</option>

              </select>
              <div class="validate"></div>
            </div>

            <div class="col-md-2 d-flex align-items-center justify-content-center">
              <input type="checkbox" id="atual" [formControl]="isCurrent" (change)="onCheckboxChange()">
              <label class="ms-2 mt-2" for="atual">Atual</label>
            </div>

            <div class="col-md-12 mb-3">
              <label>Descrição</label>
              <textarea class="form-control" [formControl]="description" name="message" rows="6" required></textarea>
            </div>


            <div class="text-center">
              <button type="submit" class="mt-3" style="width: 150px;" (click)="save()">Salvar</button>
            </div>

          </div>

        </div>

      </form>
    </div>
  </div>




</div>
