<!-- ======= Hero Section ======= -->



<section id="heroSettings" [style.background-image]="'url(' + userWallpaper + ')'"
  class="d-flex flex-column justify-content-center align-items-center" data-aos="fade-in">
  <div class="hero-container">
    <h1 [style.color]="textColor">{{ userNickName }}</h1>
    <p [style.color]="textColor"><span>{{userSelfDescription}}</span> <span [style.color]="textColor" class="typed"
        id="typed">...</span></p>
  </div>
</section><!-- End Hero -->


<div class="accordion ">
  <div class="accordion-item">
    <h2 class="accordion-header ">
      <button class="accordion-button" type="button" (click)="toggleAccordion()">
        Editar Perfil
      </button>
    </h2>
    <div *ngIf="isAccordionOpen" class="accordion-collapse">
      <div class="accordion-body">
        <form class="php-email-form" data-aos="fade-up" data-aos-delay="100" style="border-radius: 10px; ">
          <!-- Start row -->
          <div class="row">

            <div class="col-md-12 mb-3 ">
              <label>Foto do perfil:</label>
              <input type="text" class="form-control"  [formControl]="userPhotoControl"
                placeholder="Foto da Capa" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>


            <div class="col-md-12 mb-3 ">
              <label>Foto da capa:</label>
              <input type="text" class="form-control" [formControl]="userWallpaperControl"
                placeholder="Foto da Capa" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>

            <div class="col-md-6 mb-3 ">
              <label>Nome:</label>
              <input type="text" class="form-control" [formControl]="userNickNameControl"
                placeholder="Nome de usuário" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>


            <div class="col-md-6 mb-3">
              <label>Título:</label>
              <input type="text" class="form-control"
                [formControl]="userSelfDescriptionControl" placeholder="Título" data-rule="minlen:6"
                data-msg="Please enter a password with at least 6 characters">
              <div class="validate"></div>
            </div>

            <div class="row">
              <div class="col-md-3 mb-3">
                <label>Selecione a cor do título:</label>
                <select name="corTexto" id="corTexto" class="form-control" [(ngModel)]="selectedColor">
                  <option value="white">Branco</option>
                  <option value="black">Preto</option>
                </select>
              </div>
            </div>

            <div class="col-md-2 mb-3">
              <label>Cep:</label>
              <input type="text" name="cep" class="form-control" id="cep" placeholder="CEP" mask="00000-000"
                data-rule="minlen:9" data-msg="Please enter a valid CEP" [formControl]="cepControl"
                (blur)="consumeViaServiceApi()">
              <div class="validate"></div>
            </div>

            <div class="col-md-5 mb-3">
              <label>UF:</label>
              <input type="text" name="bairro" class="form-control" id="bairro" placeholder="Bairro"
                data-rule="minlen:9" [formControl]="ufControl">
              <div class="validate"></div>
            </div>


            <div class="col-md-5 mb-3">
              <label>Cidade:</label>
              <input type="text" name="cidade" class="form-control" id="cidade" placeholder="cidade"
                data-rule="minlen:9" [formControl]="cidadeControl">
              <div class="validate"></div>
            </div>


            <div class="text-center">
              <button type="submit" class="mt-3" style="width: 150px;" (click)="save()">Salvar</button>
            </div>
          </div> <!-- End row -->

        </form><!-- End Form -->
      </div>
    </div>
  </div>
</div>

