<div class="container rounded">
  <div class="row mt-3" data-aos="fade-down">
    <div class="col-md-12 d-flex align-items-center justify-content-center">
      <div class="modal-section-title">
        <h2>Editar Introdução</h2>
      </div>
    </div>
  </div>

  <div class="row mt-3" data-aos="fade-down">
    <div class="col">
      <form class="php-email-form" data-aos-delay="100" style="border-radius: 10px; ">

        <div class="container">
          <span class="close-modal-button d-flex align-items-center justify-content-center" (click)="onCloseClick()">
            <i class="bi bi-x"></i>
          </span>

          <div class="row">

            <div class="col-md-12 mb-3">
              <label>Cargo</label>
              <input type="text" class="form-control" [formControl]="userJobPosition" placeholder="Nome de usuário"
                data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>

            <div class="col-md-12 mb-3">
              <label>Empresa</label>
              <input type="text" class="form-control" [formControl]="userCompany" placeholder="Nome de usuário"
                data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>

            <div class="col-md-6 mb-3">
              <label>Ano de Início</label>
              <input type="text" class="form-control" [formControl]="startYear" placeholder="Nome de usuário"
                data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>

            <div class="col-md-6 mb-3">
              <label>Ano de Término</label>
              <input type="text" class="form-control" [formControl]="endYear" placeholder="Nome de usuário"
                data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>

          </div>

        </div>

      </form>
    </div>
  </div>




</div>
