<div class="container rounded">
  <div class="row mt-3" data-aos="fade-down">
    <div class="col-md-12 d-flex align-items-center justify-content-center">
      <div class="modal-section-title">
        <h2>Editar Introdução</h2>
      </div>
    </div>
  </div>

  <div class="row mt-3" data-aos="fade-down">
    <div class="col">
      <form class="php-email-form" data-aos-delay="100" style="border-radius: 10px; ">

        <div class="container">
          <span class="close-modal-button d-flex align-items-center justify-content-center" (click)="onCloseClick()">
            <i class="bi bi-x"></i>
          </span>

          <div class="row">


          </div>

        </div>

      </form>
    </div>
  </div>




</div>
