<!-- ======= Mobile nav toggle button ======= -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="../../assets/img/logo2.0.jpeg" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">ProConnect</a></h1>
    </div>


    <nav id="navbar" class="nav-menu navbar justify-content-center">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a [routerLink]="['/network']" class="nav-link scrollto"><i class="bx bx-user" ></i> <span>Rede</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

    <div class="row justify-content-center">
      <div class="col">
        <div class="text-center" ><button type="submit" [routerLink]="['/login']">Entrar</button></div>
      </div>
      <div class="col">
        <div class="text-center">
          <button type="submit" [routerLink]="['/cadastroCliente']" style="background-color: #040b14; transition: background-color 0.3s;" onmouseover="this.style.backgroundColor='#0f1d37'" onmouseout="this.style.backgroundColor='#040b14'">Cadastrar</button>
        </div>
      </div>

    </div>


  </div>
</header><!-- End Header -->
